extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header: .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-8
      .row
        .col-xs-12.col-sm-6
          p.rating difficulty &nbsp;
            +outputDifficulty(program.difficulty)
          p program author: &nbsp; #[span.author #{program.author}]
      .row
        .col-xs-12
          .panel.panel-primary.exercise-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/programs/"+program._id+"/exercises/new") Add exercise
              h2.panel-title Exercises
            .panel-body.exercise-container
              each exercise in program.exercises
                .row
                  .exercise
                    .well.well-sm.exercise-header
                      span.exerciseName  #{exercise.name}
                      small.exerciseReps reps/time: #{exercise.repstime}
                      | &nbsp;
                      small.exerciseReps sets: #{exercise.sets}
                    .col-xs-12
                      p !{(exercise.description).replace(/\n/g, '<br/>')}
    .col-xs-12.col-md-4
      p.lead Don't wait any longer and do #{program.name} now!
      .button-container
        a.btn.btn-default.pull-right(href="/programs/"+program._id+"/logs/new") Log workout
      .logs-container
        each log in program.logs
          .row
            .log
              span.logUsername  #{log.username}
              | &nbsp;
              small.date completed on: 
                +formatDate(log.date)
              